{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks", "unused-imports"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true,
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error", { 
        "argsIgnorePattern": "^_", 
        "ignoreRestSiblings": true, 
        "destructuredArrayIgnorePattern": "^_" 
    }],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/semi": "off",
    "eol-last": 2,
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off"
  }
}
