:root {
    --primary: #005C53;
     --secondary: #9FC131;
     --tertiary: #042940;
 }

body {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 15px;
    font-weight: bolder;
    border-radius: 10px;
}
